@import "../../../../config/colors.scss";

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

main {
  background-color: $color-gray-blue-light;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  .container {
    padding-top: 2em;
    max-width: 700px;
    width: 80%;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 750px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 11px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 8px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}
@media screen and (max-width: 330px) {
  :root {
    font-size: 6px;
  }
}
