//Primary

$color-moderate-blue: hsl(238, 40%, 52%);
$color-soft-red: hsl(358, 79%, 66%);
$color-gray-blue-light: hsl(239, 57%, 85%);
$color-pale-red: hsl(357, 100%, 86%);

//Neutral

$color-dark-blue: hsl(212, 24%, 26%);
$color-gray-blue: hsl(211, 10%, 45%);
$color-gray: hsl(223, 19%, 93%);
$color-gray-light: hsl(228, 33%, 97%);
$color-white: hsl(0, 0%, 100%);

//Font-Size

$font: 16px;

//

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
